.modalContainer{
    width: 95vw;
    height: 50vh;
    flex-shrink: 0;
}

.segmentControl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 1rem 0 0 1.2rem;
    gap: 3rem;
    margin-bottom: 2rem;
}

.segmentControl--title{
    color: var(--grey);
    line-height: 1.25rem;
    letter-spacing: -0.03125rem;
}

.segmentControl__list{
    display: flex;
    overflow-x: auto;
    gap: .75rem;
    width: 90vw;
}

.segmentControl__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    margin-top: .5rem;
}

.segmentControl__item--content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 5rem;
    padding: 2rem .5rem;
    gap: 1rem;

    border-radius: 1.8rem;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(72, 49, 157, 0.20);
    box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 0px 0px rgba(255, 255, 255, 0.25) inset;
}

.segmentControl__item--content p {
    font-size: .9rem;
    line-height: 1.25rem;
    letter-spacing: -0.03125rem;
}

.segmentControl__item--content img {
    width: 2rem;
}

.modalContainer__widgets{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 1rem;
}

.modalContainer__widgets--item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    width: 7.5rem;
    height: 7.5rem;
    padding-top: .5rem;
    gap: 1rem;

    border-radius: 1.4rem;
    border: 1px solid var(--purple);
    background: linear-gradient(168deg, #2E335A 1.62%, #1C1B33 95.72%);
    box-shadow: -40px 60px 150px 0px rgba(59, 38, 123, 0.70);
}

.modalContainer__widgets--itemTitle{
    color: var(--grey);
    font-size: .7rem;
    line-height: 1rem;
    letter-spacing: .1rem;

    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 1.5rem;
}

.feels{
    background-image: url(../images/feels-like.svg);
}

.sunrise{
    background-image: url(../images/sunrise-fill.svg);
}

.sunset{
    color: var(--white);
    font-size: .5rem;
    letter-spacing: .1rem;
}

.rain{
    background-image: url(../images/rain-fill.svg);
}

.humidity{
    background-image: url(../images/humidity-fill.svg);
}

.cloudiness{
    background-image: url(../images/cloud-haze-fill.svg);
}

.wind{
    background-image: url(../images/wind-fill.svg);
}

.modalContainer__widgets--itemParameter{
    font-weight: 100;
    line-height: 1rem;
    letter-spacing: .1rem;
}


@media screen and (min-width: 550px) {
    .segmentControl__list{
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .segmentControl--title{
        font-size: 1.5rem;
    }

    .segmentControl__list{
        gap: 1.2rem;
    }

    .segmentControl__item--content{
        min-width: 6rem;
        padding: 2.5rem .5rem;
    }
    
    .segmentControl__item--content p {
        font-size: 1.3rem;
    }
    
    .segmentControl__item--content img {
        width: 3rem;
    }
}

@media screen and (min-width: 1024px) {

}
