@import url(../styles/canvas.css);
@import url(../styles/main.css);
@import url(../styles/searchContainer.css);
@import url(../styles/weatherContainer.css);
@import url(../styles/modalContainer.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');


:root{
    --monserrat: 'Monserrat';
    --white: #FFFFFF;
    --background: #060e1b;
    --grey:  rgba(235, 235, 245, 0.60);
    --purple: #48319D;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: var(--monserrat);
    font-size: 16px;
    font-weight: 600;
    color: var(--white);

    background: var(--background);
    overflow: hidden;

    width: 100vw;
    min-height: 100vh;
}
