.weatherContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 2rem 4rem;
    margin: 2rem 0;

    border-radius: 2.75rem;
    background: linear-gradient(168deg, #2E335A 1.62%, #1C1B33 95.72%);
    box-shadow: -40px 60px 150px 0px rgba(59, 38, 123, 0.70);
    /* background: linear-gradient(168deg, rgba(46, 51, 90, 0.26) -4.68%, rgba(28, 27, 51, 0.26) 95.45%); */
}

.weatherContainer__cityAndCountry,
.weatherContainer__descriptionAndIcon{
    display: flex;
    align-items: center;
    margin: .5rem 0;
}

.weatherContainer__cityAndCountry--city,
.weatherContainer--temperature,
.weatherContainer__descriptionAndIcon--description,
.weatherContainer__minAndMax{
    letter-spacing: .1rem;
}

.weatherContainer__cityAndCountry--city{
    font-size: 1.5rem;
    line-height: 2rem;
}

.weatherContainer--temperature{
    font-weight: 100;
    font-size: 4rem;
    line-height: 4rem; 
}

.weatherContainer__descriptionAndIcon--description,
.weatherContainer__minAndMax{
    color: var(--grey);
    font-size: 0.8rem;
    line-height: 1rem;
    text-transform: capitalize;
}

.weatherContainer__minAndMax span{
    color: var(--white);
}

.hide{
    display: none;
}
